<EditForm Model="SelectEnvironment">
    <InputSelect ValueExpression="@(() => SelectEnvironment.SelectedEnvironment)"
                 Value="@SelectEnvironment.SelectedEnvironment"
                 ValueChanged="@(async (string v) => await OnSelectionChanged(v))"
                 class="form-control">
        <option selected></option>
        <option value="0">DEV</option>
        <option value="1">QA</option>
        <option value="2">PROD</option>
    </InputSelect>
</EditForm>

@code {
    private SelectEnvironment SelectEnvironment = new();

    [Parameter]
    public EventCallback<ModelEnvironment> OnEnvironmentChanged { get; set; }

    async Task OnSelectionChanged(string value)
    {
        ModelEnvironment onSelectedModelEnvironment;
        if (Enum.TryParse(value, out onSelectedModelEnvironment))
        {
            SelectEnvironment.SelectedEnvironment = value;
            await OnEnvironmentChanged.InvokeAsync(onSelectedModelEnvironment);
        }
    }
}
