@page "/"


@inject IModelService _modelService
@inject IJSRuntime _jsRuntime

<h2>List of trained model in an environment</h2>

<Loading IsLoading="@IsLoading" />

<div class="row" style="margin-top:25px">
    <div class="col-md-2">
        <Environments OnEnvironmentChanged="(async (e) => await OnEnvironmentChanged(e))"/>
    </div>
</div>

@if (Models != null)
{
    <div class=row  style="margin-top:30px">
        <div class=col-md-12>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">ModelId</th>
                  <th scope="col">Description</th>
                  <th scope="col">CreatedOn</th> 
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @foreach(var model in Models)
                {
                    <tr>
                        <td>@model.ModelId</td>
                        <td>@model.Description</td>
                        <td>@model.CreatedOn</td>
                        <td>
                            <button class="btn btn-primary">
                                TEST
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" @onclick="(async () => await OnDeleteModel(model))">
                                DELETE
                            </button>
                        </td>
                    </tr>        
                }
              </tbody>
            </table>
        </div>
    </div>    
}


@code {
    private bool IsLoading = false;

    private IList<ModelInfo> Models;
    private MODEL_ENVIRONMENT SelectedEnvironment;

    async Task OnEnvironmentChanged(MODEL_ENVIRONMENT environment)
    {
        IsLoading = true;
        SelectedEnvironment = environment;
        Models = await _modelService.GetModelsAsync(environment);
        IsLoading = false;
    }

    async Task OnDeleteModel(ModelInfo model)
    {
        bool confirmed = await _jsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the model {model.ModelId}");
        if (confirmed)
        {
            IsLoading = true;
            bool success = await _modelService.DeleteModelAsync(model.ModelId, SelectedEnvironment);

            if (success)
            {
                Models.Remove(model);
            }

            IsLoading = false;
        }
    }
}
